openapi: 3.1.0
info:
  title: Sudomimus Connect
  version: 0.1.0
  summary: Token exchange API for the Sudomimus authentication platform.
  description: |
    The Connect API is the public entry point for integrating applications.
    Clients use it to establish an authentication inquiry, poll its status,
    redeem the realized inquiry for application tokens, refresh access
    tokens, and fetch localized application metadata.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://connect-api.sudomimus.com
    description: Production
paths:
  /health:
    get:
      operationId: health
      summary: Liveness probe for the Connect service.
      responses:
        "200":
          description: Service is ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /establish:
    post:
      operationId: establish
      summary: Establish a new authentication inquiry for an application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EstablishRequest"
      responses:
        "200":
          description: Inquiry established.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EstablishResponse"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /status-poll:
    post:
      operationId: statusPoll
      summary: Poll the realization status of an authentication inquiry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatusPollRequest"
      responses:
        "200":
          description: Current status of the inquiry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusPollResponse"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /redeem:
    post:
      operationId: redeem
      summary: Redeem a realized inquiry for an application token pair.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RedeemRequest"
      responses:
        "200":
          description: Tokens issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedeemResponse"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /refresh:
    post:
      operationId: refresh
      summary: Issue a new access token from a refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Access token issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshResponse"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /info:
    post:
      operationId: info
      summary: Fetch localized public metadata about an application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InfoRequest"
      responses:
        "200":
          description: Application metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoResponse"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    HealthResponse:
      type: object
      required:
        - ready
        - service
        - version
      properties:
        ready:
          type: boolean
        service:
          type: string
        version:
          type: string
    EstablishRequest:
      type: object
      required:
        - applicationAnchor
        - actions
      properties:
        applicationAnchor:
          type: string
          description: Public anchor identifying the integrating application.
        actions:
          type: array
          description: Post-authentication actions the inquiry will satisfy.
          items:
            $ref: "#/components/schemas/AuthAction"
    EstablishResponse:
      type: object
      required:
        - applicationAnchor
        - exposureKey
        - hiddenKey
      properties:
        applicationAnchor:
          type: string
        exposureKey:
          type: string
          description: Public half of the inquiry key pair; safe to share with the user agent.
        hiddenKey:
          type: string
          description: Private half of the inquiry key pair; must stay on the originating client.
    StatusPollRequest:
      type: object
      required:
        - exposureKey
        - hiddenKey
      properties:
        exposureKey:
          type: string
        hiddenKey:
          type: string
    StatusPollResponse:
      oneOf:
        - $ref: "#/components/schemas/StatusPollPendingResponse"
        - $ref: "#/components/schemas/StatusPollRealizedResponse"
      discriminator:
        propertyName: status
        mapping:
          PENDING: "#/components/schemas/StatusPollPendingResponse"
          REALIZED: "#/components/schemas/StatusPollRealizedResponse"
    StatusPollPendingResponse:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - PENDING
    StatusPollRealizedResponse:
      type: object
      required:
        - status
        - confirmationKey
      properties:
        status:
          type: string
          enum:
            - REALIZED
        confirmationKey:
          type: string
          description: One-time key proving the inquiry has been realized; pass to /redeem.
    RedeemRequest:
      type: object
      required:
        - exposureKey
        - hiddenKey
        - confirmationKey
      properties:
        exposureKey:
          type: string
        hiddenKey:
          type: string
        confirmationKey:
          type: string
    RedeemResponse:
      type: object
      required:
        - applicationAnchor
        - refreshToken
        - accessToken
      properties:
        applicationAnchor:
          type: string
        refreshToken:
          type: string
          description: Long-lived refresh token (JWT).
        accessToken:
          type: string
          description: Short-lived access token (JWT).
    RefreshRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
    RefreshResponse:
      type: object
      required:
        - accessToken
      properties:
        accessToken:
          type: string
          description: Short-lived access token (JWT). No new refresh token is issued.
    InfoRequest:
      type: object
      required:
        - applicationAnchor
        - locale
      properties:
        applicationAnchor:
          type: string
        locale:
          type: string
          description: IETF BCP 47 locale tag (e.g. "en-US"). Falls back to the application's default locale if not available.
    InfoResponse:
      type: object
      required:
        - applicationAnchor
        - applicationName
        - applicationPublicKey
      properties:
        applicationAnchor:
          type: string
        applicationName:
          type: string
          description: Localized application display name.
        applicationPublicKey:
          type: string
          description: PEM-encoded application public key used to verify issued JWTs.
    AuthAction:
      oneOf:
        - $ref: "#/components/schemas/AuthActionCallback"
        - $ref: "#/components/schemas/AuthActionStatusPoll"
        - $ref: "#/components/schemas/AuthActionSteam"
      discriminator:
        propertyName: type
        mapping:
          CALLBACK: "#/components/schemas/AuthActionCallback"
          STATUS_POLL: "#/components/schemas/AuthActionStatusPoll"
          STEAM: "#/components/schemas/AuthActionSteam"
    AuthActionCallback:
      type: object
      required:
        - type
        - payload
      properties:
        type:
          type: string
          enum:
            - CALLBACK
        payload:
          type: object
          required:
            - callbackUrl
          properties:
            callbackUrl:
              type: string
    AuthActionStatusPoll:
      type: object
      required:
        - type
        - payload
      properties:
        type:
          type: string
          enum:
            - STATUS_POLL
        payload:
          type: object
    AuthActionSteam:
      type: object
      required:
        - type
        - payload
      properties:
        type:
          type: string
          enum:
            - STEAM
        payload:
          type: object
    Error:
      type: object
      description: |
        Error response body. The Connect service emits `{ "reason": "<SymbolDescription>" }`
        for known failure modes. When the reason symbol's description begins with
        `PRIVATE`, the body is empty (zero bytes) and only the HTTP status carries
        signal — both `reason` and the body itself are absent in that case.
      properties:
        reason:
          type: string
          description: Stable machine-readable reason code.
