openapi: 3.1.0
info:
  title: Sudomimus Native
  version: 0.1.0
  summary: Native client entry point for the Sudomimus authentication platform.
  description: |
    The Native API is the public gateway used by native clients
    (desktop applications, games, headless processes) that authenticate
    users directly through a platform identity provider — currently Steam
    via the Steamworks SDK, or a long-lived access-key credential issued
    in the admin console.

    The native flow is "direct-issue": the client passes a platform-issued
    proof (Steam ticket) or a stored credential (access key) to the Native
    API, which verifies it and issues application access and refresh
    tokens in a single round trip. No browser handoff, no inquiry
    establishment, no polling.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://native-api.sudomimus.com
    description: Production
paths:
  /direct-issue/access-key:
    post:
      operationId: directIssueAccessKey
      summary: Exchange an access-key credential for application tokens.
      description: |
        Trade a long-lived access-key credential (identifier + secret) for
        application access and refresh tokens. Access keys are issued in
        the admin console against a specific account; the credential
        carries optional TTL bounds and an opt-in expiry timestamp.

        The server:

          1. Validates the application's authentication-rule layer admits
             `ACCESS_KEY_DIRECT`.
          2. Looks up the credential by `accessKeyIdentifier`.
          3. Cross-checks that the credential belongs to the application
             named in `applicationAnchor`, is not revoked, and has not
             expired.
          4. Timing-safe-verifies `accessKeySecret`.
          5. Validates the realize-rule layer (`STEAM_ID` / `EMAIL` /
             `ACCOUNT_IDENTIFIER`) and ensures a `DIRECT_ISSUE` return
             rule exists.
          6. Issues access + refresh JWTs and best-effort touches the
             credential's `lastUsedAt` timestamp.

        All credential-level failures (unknown identifier, app mismatch,
        revoked, expired, wrong secret) collapse into a single opaque
        `AccessKeyDirectDenied` 401 reason to avoid leaking identifier
        existence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectIssueAccessKeyRequest"
      responses:
        "200":
          description: Tokens issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectIssueAccessKeyResponse"
        "400":
          description: |
            Malformed request body. The `reason` distinguishes
            `Invalid accessKeyIdentifier` (must be a UUID v4) and
            `Invalid accessKeySecret` (must be 64 lowercase hex chars).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: |
            The access-key credential was rejected. The `reason` is
            uniformly `AccessKeyDirectDenied` regardless of root cause
            (not found, app mismatch, revoked, expired, wrong secret).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: |
            The application's three-layer rules denied the attempt. The
            response `reason` distinguishes which layer rejected:
            `Layer1Denied`, `Layer2Denied`, or `Layer3Denied`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Application anchor not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: |
            The access key's account record is missing — an internal
            state inconsistency. Reason `AccessKeyCredentialAccountMissing`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /direct-issue/steam-ticket:
    post:
      operationId: directIssueSteamTicket
      summary: Exchange a Steam Web API auth ticket for application tokens.
      description: |
        The client SDK calls `ISteamUser::GetAuthTicketForWebApi("sudomimus")`
        (the identity string MUST be exactly `"sudomimus"`), waits for the
        `GetTicketForWebApiResponse_t` callback, hex-encodes the ticket
        bytes, and POSTs them here together with the application anchor and
        the Steam App ID. The server:

          1. Validates the application's authentication-rule layer admits
             `STEAM_TICKET` for this `steamAppId`.
          2. Atomically records `sha256(steamTicketHex.toLowerCase())` for
             replay protection (24-hour window); a duplicate is rejected
             with `409`.
          3. Verifies the ticket with Steam's
             `ISteamUserAuth/AuthenticateUserTicket` endpoint, identity
             `"sudomimus"`.
          4. Validates the application's realize-rule layer (`STEAM_ID` /
             `EMAIL`) and ensures a `DIRECT_ISSUE` return rule exists.
          5. Issues access + refresh JWTs signed with the application's
             private key.

        Tokens follow the same shape as those issued through Connect's
        `/redeem`. Verification is the responsibility of the relying party
        (see the `Sudomimus.Token` SDK).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectIssueSteamTicketRequest"
      responses:
        "200":
          description: Tokens issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectIssueSteamTicketResponse"
        "400":
          description: Malformed request (e.g. invalid `steamAppId`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Steam rejected the ticket as invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: |
            The application's three-layer rules denied the attempt. The
            response `reason` distinguishes which layer rejected:
            `Layer1Denied`, `Layer2Denied`, or `Layer3Denied`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Application anchor not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: |
            Replay protection conflict — this Steam ticket has already been
            redeemed within the replay window. Acquire a fresh ticket via
            `GetAuthTicketForWebApi` and retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Steam's verification endpoint was unreachable or returned an unparseable response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    DirectIssueAccessKeyRequest:
      type: object
      required:
        - applicationAnchor
        - accessKeyIdentifier
        - accessKeySecret
      properties:
        applicationAnchor:
          type: string
          description: Public anchor identifying the integrating application.
        accessKeyIdentifier:
          type: string
          description: |
            UUID v4 string identifying the access-key credential.
            Format: `xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`.
        accessKeySecret:
          type: string
          description: |
            64-char lowercase hex string (32 random bytes) returned exactly
            once when the access key was issued. Never logged or persisted
            in plaintext server-side after creation.
    DirectIssueAccessKeyResponse:
      type: object
      required:
        - applicationAnchor
        - accessToken
        - refreshToken
      properties:
        applicationAnchor:
          type: string
        accessToken:
          type: string
          description: Short-lived access token (JWT). Body shape matches the Connect SDK's access token.
        refreshToken:
          type: string
          description: Long-lived refresh token (JWT). Use Connect's `/refresh` for renewal without re-presenting the access key.
    DirectIssueSteamTicketRequest:
      type: object
      required:
        - applicationAnchor
        - steamTicketHex
        - steamAppId
      properties:
        applicationAnchor:
          type: string
          description: Public anchor identifying the integrating application.
        steamTicketHex:
          type: string
          description: |
            Hex-encoded Steam Web API auth ticket bytes returned from
            `ISteamUser::GetAuthTicketForWebApi("sudomimus")`. Case
            insensitive — the server lowercases before hashing for replay
            protection, but forwards the original bytes to Steam.
        steamAppId:
          type: integer
          format: int64
          minimum: 1
          description: |
            Steam App ID under which the ticket was generated. Must be
            allow-listed by the application's `STEAM_TICKET` authentication
            rule. Tickets are bound to their issuing App ID server-side;
            passing a different value will fail Steam verification.
    DirectIssueSteamTicketResponse:
      type: object
      required:
        - applicationAnchor
        - accessToken
        - refreshToken
      properties:
        applicationAnchor:
          type: string
        accessToken:
          type: string
          description: Short-lived access token (JWT). Body shape matches the Connect SDK's access token.
        refreshToken:
          type: string
          description: Long-lived refresh token (JWT). Use Connect's `/refresh` to obtain a new access token without re-acquiring a Steam ticket.
    Error:
      type: object
      description: |
        Error response body. The Native service emits `{ "reason": "<SymbolDescription>" }`
        for known failure modes. When the reason symbol's description begins with
        `PRIVATE`, the body is empty (zero bytes) and only the HTTP status carries
        signal — both `reason` and the body itself are absent in that case.
      properties:
        reason:
          type: string
          description: Stable machine-readable reason code.
